*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Montserrat, sans-serif;
  text-align: center;
}
header{
  padding: 1em 1em 1em 1em;
}

#form {
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  margin: 1em 20em 1em 20em;
}

#form > input{
  font-size: 22px;
  border-radius: 20px;
  border: 0;
  background-color: #bfc0be;
}

#form > textarea{
  font-size: 22px;
  border-radius: 20px;
  border: 0;
  background-color: #bfc0be;
}

#form > select{
  font-size: 22px;
  border-radius: 20px;
  border: 0;
  text-align: center;
  background-color: #bfc0be;
}

#form > button{
  font-size: 24px;
  max-width: 400px;
  justify-self: center;
  padding: 1em 2em 1em 2em;
  border: 0;
  border-radius: 20px;
}
