* {
  margin: 0;
  padding: 0;
  font-family: 'Spectral', Spectral, serif;
}

a {
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}

a:hover {
  text-decoration-color: rgba(255, 255, 255, 1);
}

/* Разметка обёртки */
.wrapper{
  display: grid;
  grid-template-areas: "header"
                        "main"
                        "footer";
}

header{
  grid-area: header;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
}
/* Стили шапки */

header{
  display: grid;
  grid-template-areas: "img_head header_links"
                        "site_name_head header_links";
  padding: 1em 15em 1em 15em;
  background-color: #802B2B;
  color: white;
}

@media (max-width: 600px) {
  header {
    display: grid;
    grid-template-areas: "img_head"
                        "site_name_head"
                          "header_links";
    padding: 0 0 0 0;
    background-color: #802B2B;
    color: white;
  }
}

.header_links{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 2em;
  align-content: center;
  text-align: center;
  grid-area: header_links;
  font-size: 24px;
  justify-self: end;
  list-style: none;
}

@media (max-width: 600px) {
  .header_links{
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: auto;
    grid-row-gap: 1em;
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-area: header_links;
    font-size: 24px;
    justify-self: center;
    list-style: none;
    padding-bottom: 1em;
  }
}


.img_head{
  grid-area: img_head;
  justify-self: center;
}

.site_name_head{
  grid-area: site_name_head;
  font-size: 36px;
  justify-self: center;
}

/* Стили главного блока главной страницы */

main{
  display: grid;
  grid-template-areas: "span_auth"
                          "form_auth";
  background-color: #BDB4A6;
  padding: 20px 15em 4em 15em;
  height: 100vh;
}

@media (max-width: 600px) {
  main {
    display: grid;
    grid-template-areas: "span_auth"
                        "form_auth";
    background-color: #BDB4A6;
    padding: 20px 0 4em 0;
    height: auto;
  }
}

.span_auth{
  grid-area: span_auth;
  font-size: 64px;
  text-align: center;
  align-self: center;
}

#form_auth{
  display: grid;
  grid-area: form_auth;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 1.5em;
  justify-items: center;
  align-items: center;
  align-content: center;
  /* padding-top: 2em; */
}

#form_auth > input {
  width: 1232px;
  height: 75px;
  border: none;
  border-radius: 50px;
  background-color: #d9d9d9;
  font-size: 32px;
  padding: 15px 30px 15px 30px;
}

@media (max-width: 600px) {
  #form_auth > input {
    width: 150px;
    height: 20px;
    border: none;
    border-radius: 50px;
    background-color: #d9d9d9;
    font-size: 18px;
    padding: 15px 30px 15px 30px;
  }
}


#form_auth > button{
  width: 225px;
  height: 72px;
  padding: 20px 40px 20px 40px;
  background-color: #802B2B;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 24px;
}

@media (max-width: 600px) {
  #form_auth > button{
    width: 175px;
    height: 45px;
    padding: 0 0 0 0;
    background-color: #802B2B;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 24px;
  }
}

/* Стили подвала */

footer{
  text-align: center;
  padding: 2em 0 2em 0;
  background-color: #687960;
  font-size: 12px;
}